/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
/* END COMMON */

/* MAIN */
body {
    background-color: #b9154f;
}

h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

.ticket-form{
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
}
.ticket-generator-form{
    display: flex;
    justify-content: space-evenly;
}

.ticket-form label{
    color: #b9154f;
}
.ticket-form select,
.ticket-form input{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #b9154f;
    border-radius: 3px;
    text-align: center;
}

.ticket-details{
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 20px;
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.invisible{
    visibility: hidden;
}

h3{
    text-transform: uppercase;
}
.passenger-details{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.ticket-title{
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 40px;
}
/* END MAIN */
